.quoteSection h2{
    text-align: center;
    margin: 20px 20px;
    font-size: 2rem;
    font-family: 'Poppins';
    font-weight: 300;
    color: #d85e83;

}
.journalContainer{
    display: flex;
    border: 2px solid PINK;
    margin: 30px 20px 0px 20px;
    justify-content: space-between;
    padding: 0px 30px;
    
}
.entryAside{
    width: 25%;
    border: 3px solid blue;
}
.journalSection{
    width: 60%;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    gap: 7px;
}